<style>
    #notice {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }
</style>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="images/logo2.png" class="img-fluid" alt="LOGO">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Employee Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/data">Timesheet</a>
                </li>
            </ul>
            <div class="btn-group">
                <p class="dropdown-toggle text-white my-0 px-5" data-bs-toggle="dropdown" aria-expanded="false">
                    {{greeting}} <i class="fa-regular fa-user"></i>
                </p>
                {{!-- <a href="#" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">{{greeting}} <i class="fa-regular fa-user"></i></a> --}}
                {{!-- <p class="text-white px-5 my-0">{{greeting}}</p> --}}
                <ul class="dropdown-menu dropdown-menu-end me-5">
                    <a id="btn-logout" class="dropdown-item" href="/login/logout">Log out</a>
                </ul>
            </div>
        </div>
    </div>
</nav>



<div class="container mt-5">
    <div class="position-relative">
        <div class="alert alert-success" id="notice">
            
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6 col-md-3">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" class="form-control">
        </div>

        <div class="col-6 col-md-3">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" class="form-control">
        </div>
    </div>

    <button id="btnSaveCSV" class="btn btn-primary mb-3">Save all</button>
    <button id="btnSaveCSVById" class="btn btn-warning mb-3 ms-2">Save CSV by User</button>
    <button id="btnSavePDFById" class="btn btn-danger mb-3 ms-2">Save PDF by User</button>

    <div class="table-responsive">
        <table class="table table-striped table-hover dt-responsive display nowrap" width="100%" id="tableData">
            <thead>
                <th class="text-center">#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time in</th>
                <th>Time out</th>
                <th>Working Time</th>
                <th>Edit</th>
            </thead>
        </table>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="modal-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-edit-title modal-title fs-5" id="staticBackdropLabel">Modal Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form id="edit-form">
                            <input type="hidden" name="hiddenId" id="hiddenId">
                            <div class="mb-3">
                                <label for="editId" class="form-label">User Id: </label>
                                <input type="text" class="form-control" disabled id="editId" name="editId">
                            </div>

                            <div class="mb-3">
                                <label for="editName" class="form-label">Name: </label>
                                <input type="text" class="form-control" id="editName" disabled name="editName">
                            </div>

                            <div class="mb-3">
                                <label for="editDate" class="form-label">Date: </label>
                                <input type="date" class="form-control" id="editDate" name="editDate">
                            </div>

                            <div class="mb-3">
                                <label for="editTimeIn" class="form-label">Date in: </label>
                                <input type="text" class="form-control" id="editTimeIn" name="editTimeIn">
                            </div>

                            <div class="mb-3">
                                <label for="editTimeOut" class="form-label">Date out: </label>
                                <input type="text" class="form-control" id="editTimeOut" name="editTimeOut">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/data.js"></script>