<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ms-5 me-3" href="/">
            <img src="images/logo2.png" class="img-fluid" alt="LOGO">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Employee Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/data">Timesheet</a>
                </li>
            </ul>
            <div class="btn-group">
                <p class="dropdown-toggle text-white my-0 px-5" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{greeting}} <i class="fa-regular fa-user"></i>
                </p>
                {{!-- <a href="#" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">{{greeting}} <i class="fa-regular fa-user"></i></a> --}}
                {{!-- <p class="text-white px-5 my-0">{{greeting}}</p> --}}
                <ul class="dropdown-menu dropdown-menu-end me-5">
                    <a id="btn-logout" class="dropdown-item" href="/login/logout">Log out</a>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-hover dt-responsive display nowrap" width="100%" id="tableUsers">
            <thead>
                <th class="text-center">#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Position</th>
                <th></th>
                <th></th>
            </thead>
        </table>
    </div>
</div>

<!-- Modal detail -->
<div class="modal fade" id="modal-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-detail-title modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <img src="" alt="profile-image" class="img-fluid rounded p-1" id="detail-profile-img">
                    </div>

                    <div class="col-7">
                        <p id="detail-fullname"><b>Name: </b></p>
                        <p id="detail-gender"><b>Gender: </b></p>
                        <p id="detail-position"><b>Position: </b></p>
                        <p id="detail-date_in"><b>Date in: </b></p>
                        <p id="detail-date_out"><b>Date out: </b></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="modal-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-edit-title modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5 profile-img-col">
                        <img src="" alt="profile-image" class="img-fluid rounded p-1" id="edit-profile-img">
                    </div>

                    <div class="col-7">
                        <form id="edit-form">
                            <input type="text" name="editUserId" id="editUserId" hidden>
                            <div class="mb-3">
                                <label for="editName" class="form-label">Name: </label>
                                <input type="text" class="form-control" id="editName" name="editName">
                            </div>

                            <div class="mb-3">
                                <label for="editGender" class="form-label">Gender: </label>
                                <input type="text" class="form-control" id="editGender" name="editGender">
                            </div>

                            <div class="mb-3">
                                <label for="editPosition" class="form-label">Position: </label>
                                <input type="text" class="form-control" id="editPosition" name="editPosition">
                            </div>

                            <div class="mb-3">
                                <label for="editDatein" class="form-label">Date in: </label>
                                <input type="text" class="form-control" id="editDatein" name="editDatein">
                            </div>

                            <div class="mb-3">
                                <label for="editDateout" class="form-label">Date out: </label>
                                <input type="text" class="form-control" id="editDateout" name="editDateout">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>