body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: #009f35;
}

.navbar-brand img {
  height: 50px;
  /* adjust the height as needed */
  object-fit: contain;
}